<div class="cp"><span><img width="238px" height="228px" src="<%= product_item.avatar_url if product_item.avatar? %>"/></span>
  <div class="proname"><%=product_item.title%></div>
  <div class="price"><strong>价格</strong>：<b><%=product_item.price%></b>￥</div>
</div>